$checkbox-size: 24px;
.active-checkbox {

  &__hidden {
    position: absolute;
    visibility: hidden;
  }

  &__icon {
    fill: currentColor;
    position: absolute;
    overflow: hidden;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
  }

  &__present {
    position: relative;
    display: block;
    width: $checkbox-size;
    height: $checkbox-size;
    box-sizing:border-box;
    border-radius: 50%;
    color: #edeff4;
    // use currentColor!, it fixes safari bug with partly fill
    border: 2px solid currentColor;

    &:hover {
      cursor: pointer;
    }
  }

  &__hidden:checked + &__present {
    color: #50e3a4;
  }
}