@import 'filter-btn';
@import 'add-btn';
.todos {
  background: white;
  margin: 0 auto;
  width: 600px;
  padding: 35px 35px 75px;
  box-shadow: 0 0 35px -5px rgba(0,0,0,0.1);
  position: relative;

  &__header {
    font-size: 2em;
    margin-bottom: 25px;
  }

  &__item {
    display: block;
    transition: all 0.2s ease-in;
    &--new {
      transition: none;
    };
    &.ng-leave.ng-leave-active:not(.todos__item--new) {
      opacity: 0;
    }
  }

  &__list {
    list-style: none;
  }

  &__add-btn{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &__filter {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
  }
}