<article class="todos">
    <h2 class="todos__header">My awesome TODO list</h2>
    <div class="todos__filter">
        <button class="todos__filter-btn filter-btn"
                ng-disabled="$ctrl.isCurrentFilter($ctrl.activeFilter)"
                ng-click="$ctrl.setFilter($ctrl.activeFilter)">
            only active
        </button>
        <button class="todos__filter-btn filter-btn"
                ng-disabled="$ctrl.isCurrentFilter($ctrl.noFilter)"
                ng-click="$ctrl.setFilter($ctrl.noFilter)"> all </button>
        <button class="todos__filter-btn filter-btn"
                ng-disabled="$ctrl.isCurrentFilter($ctrl.finishedFilter)"
                ng-click="$ctrl.setFilter($ctrl.finishedFilter)"> finished </button>
    </div>
    <h3 ng-if="!$ctrl.currentTodos.length" class="todos__title">No todos (you're lazy bastard)
    </h3>
    <ul class="todos__list">
        <li ng-repeat="todo in $ctrl.currentTodos.slice().reverse() | filter:$ctrl.currentFilter track by $index" class="todos__item">
            <todo
                class="todos__item"
                set-editable-todo="$ctrl.setEditableTodo"
                is-editable="$ctrl.isEditable"
                send-todo="$ctrl.sendTodo"
                remove-todo="$ctrl.removeTodo"
                todo="todo">
            </todo>
        </li>
    </ul>
    <button type="button"
            ng-click="$ctrl.createTodo()"
            class="add-btn todos__add-btn">
        +
    </button>
</article>