.remove-btn {
  display: block;
  width: 23px;
  height: 23px;
  box-sizing: border-box;
  border-radius: 50%;
  color: lightcoral;
  background: none;
  padding: 0;
  border: 2px solid;

  &:hover {
    cursor: pointer;
  }

  &:before {
    content: '\00d7';
    line-height: 23px;
    font-size: 18px;
    text-align: center;
  }
}