<article class="todos">
    <ul class="todos__list">
        <li ng-repeat="todo in $ctrl.currentTodos track by $index" class="todos__item">
            <todo-item
                class="todos__item"
                set-editable-todo="$ctrl.setEditableTodo"
                is-editable="$ctrl.isEditable"
                send-todo="$ctrl.sendTodo"
                todo="todo">
            </todo-item>
        </li>
    </ul>
    <button type="button"
            ng-click="$ctrl.addTodo()"
            class="add-btn todos__add-btn">
        +
    </button>
</article>